body {
    background-color: #FAFAFB;
    margin: 0;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 100vw !important;
    ;
}

a {
    color: #52606F;
    text-decoration: none !important;
}

.logo{
    max-width: 60%;
    position: relative;
    margin: auto;
}

.navbar-brand{
    width: 100%;
    height: 100%;
    display: flex;
}

#profile-nav .nav-item {
    cursor: pointer;
    color: #B0B5BB;
    font-weight: bold;
}

#profile-nav .react-tabs__tab--selected {
    color: #52606F;
}

.tabs {
    top: -50px;
    position: relative;
}

/* Brandon Grotesque Regular

font-family: brandon-grotesque, sans-serif;
font-weight: 400;
font-style: normal; */


/* Brandon Grotesque Regular Italic

font-family: brandon-grotesque, sans-serif;
font-weight: 400;
font-style: italic; */


/* Brandon Grotesque Bold

font-family: brandon-grotesque, sans-serif;
font-weight: 700;
font-style: normal; */


/* Brandon Grotesque Bold Italic

font-family: brandon-grotesque, sans-serif;
font-weight: 700;
font-style: italic; */

#page-wrapper {
    position: relative;
    display: grid;
    grid-column: 3;
    grid-row: 3;
    overflow: auto;
    height: -webkit-fill-available;
}

.navbar-header {
    display: inline-flex;
    position: relative;
    height: 50px;
    background-color: white;
    border-bottom: solid 1px #D2D7DC;
    max-width: 100vw;
}

.top-section1-nav,
.top-section2-nav,
.top-section3-nav {
    padding-top: 20px;
}

.top-section1-nav {
    right: 0px;
    width: 10vw;
    border-right: solid 1px #D2D7DC;
    padding-top: 0;
}

.top-section2-nav {
    width: 50vw;
    padding-left: 30px;
}

#header-search {
    border: none !important;
    font-size: 16px;
    line-height: 2;
    top: -5px;
    position: relative;
}

#header-search::placeholder {
    color: lightgrey;
    font-weight: 300;
}


.top-section3-nav {
    width: 38vw;
    float: right;
}


#profile-nav {
    display: inline-flex;
}

.container-fluid {
    margin-top: 28%;
}

.nav-item {
    padding: 10px;
    height: 20px;
    min-width: fit-content;
    max-width: max-content;
    cursor: pointer;
    color: #B0B5BB;
    position: relative;
    display: inline-flex;
    padding-right: 100px;
    width: 100%;
}

.nav-item-top {
    text-decoration: none;
    display: inline;
    float: right;
    margin-right: 50px;
}


.nav-item-top p {
    margin: 0%;
    padding: 0%;
    position: relative;
    top: 1px;
    left: 5px;
}

.nav-link {
    text-decoration: none;
    display: inline-flex;
}

.nav-link:hover p,
.nav-link:hover i {
    color: #B0B5BB;
}

.navbar {
    text-align: left;
    grid-column: 1;
    width: 20vw;
    background-color: white;
    border-right: solid 1px #D2D7DC;
    position: sticky !important;
    top: 0 !important;
    z-index: 9999;
    min-height: auto;
    height: 100vh;
}

.nav.navbar-nav {
    padding-left: 25%;
}

#profile-container,
.general-container {
    grid-column: 2;
    margin: 10% 5%;
    width: 850px;
    height: 350px;
    margin-bottom: 20px;
    position: relative;

}

.general-container-search {
    grid-column: 2;
    margin: 10% 5%;
    width: 76vw;
    height: 350px;
    margin-bottom: 20px;
    position: relative;
    right: 2%;
}

.general-container {
    height: auto;
}


.general-container-newsfeed {
    margin-top: -3% !important;
}


#header-image-container {
    height: 350px;
    background: #D2D7DC;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    border-color: transparent;
}


#profile-header {
    border: solid #D2D7DC 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;

}

#profile-dp-un {
    position: relative;
    display: inline-flex;
    left: 60px;
}

#profile-username {
    position: relative;
    left: 20px;
    color: white;
    display: inline-flex;
}

#profile-nav {
    position: relative;
    left: 200px;
    bottom: 20px;
}

.main-content.tabs {
    position: relative;
    top: -65px;
}

.react-tab-headers {
    margin: 2.5%;
    border-bottom: solid #D2D7DC 1px;
    padding: 0;
    color: #52606F;
    font-weight: bold;

}

/*header image is in profile.js*/

#profile-header-bottom {
    position: relative;
    top: -60px;
    height: 90px;
}

#right-container {
    grid-column: 3;
    width: 10vw;
}


/* Edit Profile */

.form-group {

    width: 80%;
    padding-bottom: 3%;

}

.text-muted {
    color: grey;
    display: block;
}

.form-control {
    padding-top: 3%;
    border: none;
    line-height: 2;
    font-size: 16px;
    background: none !important;
    border-bottom: solid 1px #D2D7DC;
    width: inherit;

}

.form-control,
#header-search {
    outline-width: 0;
}


/* general stuff buttons */

.btn-primary {
    padding: 10px 30px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background-color: #52606F;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


/* follow / unfollow buttons */

#follow-button,
#unfollow-button {
    position: relative;
    padding: 5px 20px;
    margin-left: 15%;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    top: -2%;
    outline-width: 0;
    cursor: pointer;
}

.follow-settings {
    width: 200px;
    height: fit-content;
    background-color: rgb(0, 136, 255);
    position: relative;
    padding: 5px 20px;
    margin-left: 15%;
    color: white;
    font-size: 16px;
    border: none;
    right: 25px;
    top: 6px;
    border-radius: 10px;
    outline-width: 0;
    cursor: pointer;
}

.follow-settings:hover {
    background-color: #448cca;
}

#follow-button {
    background-color: rgb(0, 136, 255);
}


#unfollow-button {
    background-color: #448cca;
}


/* user list page */


.list-group {
    background: white;
    border-radius: 10px;
    border: solid 1px #D2D7DC;
    display: block;
    padding: 40px 50px;
    padding-bottom: 50px;
}

.list-group-comments {
    padding: 5px 10px;
    padding-bottom: 10px;
    display: block;
    margin-top: 5px;
}


.list-group-item-inline {
    display: -webkit-box;
    padding: 15px;
    width: 60%;
}

.list-group-item-inline-comments {
    display: -webkit-box;
    padding: 5px 8px;
    width: 90%;
}

.list-group-item {
    border-bottom: #D2D7DC solid 1px;
    display: block;
}

.list-group-item:last-child {
    border-bottom: none !important;
}

.user-info {
    padding-left: 10px;
    width: 100%;
}

.list-group-item {
    text-decoration: none;
}


/*POST IN FEED CSS*/

.feed-container {
    grid-column: 2;
    height: 100%;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    min-width: 500px;
}

.create-post {
    max-width: 550px;
    border-radius: 10px;
    border: solid 1px #D2D7DC;
    position: relative;
    display: grid;
    background: white;
    margin: 0% 5%;
}

.preview-image-upload {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.clear-preview-image {
    right: 20px;
    position: absolute;
    display: block;
    top: 180px;
}

.create-post-header {
    border-bottom: solid 1px #D2D7DC;
    grid-row: 1;
    display: flex;
}

.create-post-heading {
    padding: 10px 10px 10px 25px;
    font-weight: 300;
    color: lightgrey;
    font-size: 16px;
}

.create-post-main {
    display: inline;
}

.post {
    border: solid 1px #D2D7DC;
    border-radius: 10px;
    max-width: 450px;
    margin-top: 25px;
    margin-bottom: 25px;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(datatext)
}


.create-post-content {
    min-height: 50px;
    width: 82%;
    margin: auto;
    position: relative;
    border: none !important;
    outline-width: 0;
    font-size: 14px;
    grid-row: 2;
    grid-column: 1;
    margin-top: 2%;
    margin-bottom: 2%;
    top: -60px;
    left: 70px;
    margin-bottom: -10%;
    resize: none;
    background: white;
}


input[type="file"] {
    display: none;
}

.bottom-create-post {
    display: block;
    top: 10px;
    position: relative;
    margin-bottom: 28px;
}

.create-post-button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(0, 136, 255);
    /*#448cca*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    height: 45px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}



.create-post-feed-select {
    position: relative;
    margin-left: auto;
    right: 10px;
    top: 10px;
}

.create-post-button:hover {
    background: #448cca;
}

.post-tags {
    outline-width: 0;
    border: none;
    left: 15px;
    position: relative;
    width: min-content;
    grid-row: 3;
}

.border-bottom {
    border-bottom: solid 1px #D2D7DC;
    width: 100%;
}


.post-actions {
    border-top: solid 1px #D2D7DC;
    display: inline-flex;
    width: 100%;
}

.actions-tab {
    padding: 10px 40px;
    width: 33.33%;
    color: lightgrey;
    display: flex;
}

.actions-tab p {
    cursor: pointer;
    transition: 0.2s;
    margin-top: 0;
    margin-bottom: 0;

}

.actions-tab p:hover {
    color: #52606F;
    transition: 0.1s;
}

.actions-feed {
    grid-column: 3;
    margin-top: 150px;
    height: 350px;
    width: 20vw;
    border: solid 1px #D2D7DC;
    border-radius: 10px;
    background: white;
    padding-top: 25px;
    padding-left: 15px;
    position: sticky !important;
    top: 150px !important;
    right: 5vw;
}

.main-content {
    background: white;
    border: solid 1px #D2D7DC;
    grid-column: 2;
    grid-row: 2;
    min-height: 250px;
    margin-top: 2.5%;
    border-radius: 10px;
}

.feed-post {
    background: white;
    border: solid 1px #D2D7DC;
    margin-top: 2.5%;
    border-radius: 10px;
    margin-right: 2.5%;
    max-width: 550px;
    width: 100%;
}

.feed-post.search {
    background: white;
    border: solid 1px #D2D7DC;
    margin-top: 2.5%;
    border-radius: 10px;
    margin-right: 2.5%;
    max-width: 550px;
    width: 96%;
}


.feed-post.profile {
    background: white;
    border: solid 1px #D2D7DC;
    border-radius: 10px;
    max-width: 550px;
    width: 47%;
    margin-right: 0 !important;
    margin-left: 1.25% !important;
    margin-right: 2.5%;
}

.feed-post.tag-search {
    max-width: 350px;
    width: 40%;
    margin-right: 0 !important;
    margin-left: 1.25% !important;
    margin-right: 2.5%;
}

.feed-post .post-content {
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    white-space: pre-line;
}

.author-section {
    display: inline-flex;
    margin: 20px;
    width: 94%;
}

.poster {
    margin: 10px;
    color: #52606F;
    font-weight: 600;
}

a .poster {
    text-decoration: none !important;
    color: #52606F;
}


.post-interact-options {
    margin-left: auto;
    margin-right: 0;

}

.image-upload {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    right: 0px;
    top: 0px;
}



textarea {
    resize: vertical;
    max-height: 300px;
    min-height: 200px;
}


/* feed nav css */

#feed-nav {
    list-style: none;
    background: white;
    border: solid 1px #D2D7DC;
    border-radius: 10px;
    width: 95%;
    display: inline-flex;
    max-width: 850px;

}

#newsfeed-nav {
    list-style: none;
    background: white;
    border: solid 1px #D2D7DC;
    border-radius: 10px;
    width: 95%;
    display: inline-flex;
    max-width: 510px;
    margin-left: 5%;
    margin-right: 5%;
}

#feed-nav-home {
    list-style: none;
    background: white;
    border: solid 1px #D2D7DC;
    border-radius: 10px;
    width: 95%;
    display: inline-flex;
    max-width: 510px;
    margin: 5% 5%;
}


.feed-nav-item {
    padding: 15px 0px 15px 0px;
    width: 20%;
    cursor: pointer;
    color: #B0B5BB;
    font-weight: bold;
    text-align: center;
}

#feed-nav .react-tabs__tab--selected {
    color: #52606F;
    border-bottom: 1px solid #52606F;
}

#newsfeed-nav .react-tabs__tab--selected {
    color: #52606F;
    border-bottom: 1px solid #52606F;
}

.create-feed-button {
    cursor: pointer;
    color: #B0B5BB;
    font-weight: 500;
    font-size: 2em;
    padding-top: 4px;
    text-align: center;
    width: 20%;
}

.circle-photo {
    margin: auto;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.circle-photo img {
    width: 100% !important;
    height: 100px;
    object-fit: cover;
}



.circle-photo-list-small {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.circle-photo-list-small img {
    width: 100% !important;
    height: 45px;
    object-fit: cover;
}

.circle-photo-list-small img {
    width: 100% !important;
    height: 45px;
    object-fit: cover;
}


.circle-photo-list {
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.circle-photo-list-create {
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
}


.circle-photo-list-create img {
    width: 100% !important;
    height: 45px;
    object-fit: cover;
}

.circle-photo-list img {
    width: 100% !important;
    height: 45px;
    object-fit: cover;
}

.profile-feed {
    width: -webkit-fill-available;

}

.ui.modal>.content {
    width: 450px;
}

.ui.page.dimmer {
    z-index: 9999;
}

.ui.modal {
    width: 550px;
    top: 30%;
    left: 65%;
}

.ui.active.modal {
    border-radius: 10px !important;
    overflow: hidden;
}

.ui.input {
    margin-top: 10px;
    display: block;
}

.ui.input input {
    width: 33%;
}

.createFeed.header {
    font-size: 16px !important;
    color: lightgrey !important;
    font-weight: 300 !important;
    font-family: brandon-grotesque, sans-serif !important;
}

.make-comment {
    padding: 5px 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    background-color: #FAFAFB;
    border: solid 1px #D2D7DC;
    line-height: 2;
    outline-width: 0;
    min-height: 20px;
    resize: none;
}

.comment {
    padding: 5px 10px;
    margin: 0;
    background-color: #efefef;
    border-radius: 10px;
    border-top-left-radius: 0;
    white-space: pre-line;
}

.comments-error {
    margin-left: 16px;
    margin-top: 5px;
    font-style: italic;
}

.error-message {
    margin-left: 5%;
    font-style: italic;
    padding: 5px 10px;
    width: 530px;

}

.notes {
    margin-left: auto;
    float: inherit;
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    margin-right: 10px;
    text-align: right;
    color: lightgrey;
}

.embeded-video {
    width: 100% !important;
    height: 320px !important;
}


.react_tinylink_card.sc-gzVnrw.gilWtX {
    background: white;
    box-shadow: none;
    border: none;
}

/* 
.caImJr,
.cEiECv,
.react-player__preview,
.video-react-video,
.video-react-controls-enabled.video-react-paused.video-react-fluid.video-react-user-inactive.video-react-workinghover.video-react,
.video-react.video-react-fluid,
.video-react.video-react-16-9,
.video-react.video-react-4-3 {
    border-radius: 10px;
    outline-width: 0;

} */


.video-react .video-react-big-play-button {
    top: 43% !important;
    left: 40% !important;
}


/*Follow list css*/


/* user list page */



.follow-actions-list-item {
    border-bottom: #D2D7DC solid 1px;
    display: flex;
    padding: 12px 0px;
}

.follow-actions-list-item:last-child {
    border-bottom: none !important;
}

.follow-actions-list-item .d-inline-block.mt-5 {
    text-decoration: none;
    float: right;
    width: 50%;
    margin-left: auto;
}

.follow-actions-list-item .d-inline-block.mt-5 #follow-button,
.follow-actions-list-item .d-inline-block.mt-5 #unfollow-button {
    float: right;
    outline-width: 0;
}

.follow-actions-newfeed-name {
    margin: 0;
    padding: 0;
}

.load-more-button {
    top: 50px;
    background: #D2D7DC;
    border: none;
    padding: 5px 10px;
    margin: auto;
    text-align: center;
    position: relative;
    display: block;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    font-weight: 600;
    color: #52606F;
    transition: 0.2s;
    cursor: pointer;
    margin-left: 27%;
    outline-width: 0;
}

.load-more-button-search {
    top: 50px;
    background: #D2D7DC;
    border: none;
    padding: 5px 10px;
    margin: auto;
    text-align: center;
    position: relative;
    display: block;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    font-weight: 600;
    color: #52606F;
    transition: 0.2s;
    cursor: pointer;
    outline-width: 0;
}

.load-more-button:hover,
.load-more-button-search:hover {
    transition: .1s;
    background: #B0B5BB;
}

.ui.segment,
.signin-form {
    background: white;
    border-radius: 10px;
    padding: 50px;
    width: 40%;
    margin: auto;
    top: 25%;
    position: fixed;
    left: 36%;
    overflow: hidden;
    border: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
}

.ui.segment>.ui.attached.progress,
.ui.card>.ui.attached.progress {
    top: 0;
}

.load-comments-button,
.no-more-comments {
    background: none;
    border: none;
    margin-left: 2%;
    position: relative;
    top: -20px;
    font-style: italic;
    color: #52606F;
    outline-width: 0;
    cursor: pointer;
}

.comment-container {
    width: 100%;
    display: flex;
}

.comment-tridot-button {
    background-color: transparent;
    border: none;
    color: #52606F;
    font-weight: bold;
    cursor: pointer;
    outline-width: 0;
    margin-left: 2%;
    display: none;
}

.comment-container:hover .comment-tridot-button {
    display: block;
}


.svg-inline--fa.fa-w-16 {
    padding: 3px;
}


.menu-icons {
    width: 15px;
    padding-right: 8px;
    top: 1px;
    position: relative;
}

/*menu clean up with icons*/
li.nav-item a>p,
li.nav-item p {
    margin: 0;
    padding: 0;
    margin-left: 4px;
    position: relative;
}

li.nav-item a>i {
    position: relative;
    top: -1.5px;
}


#page-wrapper>nav>div.container-fluid>ul:nth-child(1)>li:nth-child(4)>a>p {
    right: 24px;
    position: relative;
}

.onto {
    margin: 0;
    padding: 0;
    top: 10px;
    position: relative;
    font-style: italic;
    color: #52606F;
}

.author-section a {
    margin: 0;
    padding: 0;
}

.list-group-item-text {
    display: inline-flex;
}

.list-group-item-text a {
    margin-right: 4px;
    margin-top: 15px;
    margin-bottom: 0;
    color: #B0B5BB;
    transition: .3s;
}

.list-group-item-text a:hover {
    color: #448cca;
    cursor: pointer;
    transition: .1s;

}


.ReactTags__tags.react-tags-wrapper {
    width: 90%;
}

.tag-wrapper.ReactTags__tag {
    opacity: 1;
    background: rgb(0, 136, 255);
    cursor: move;
    padding: 1px 10px;
    border-radius: 4px;
    color: white;
    margin: 2px;
    display: inline;
    transition: .1;
}

.tag-wrapper.ReactTags__tag:hover {
    background: #448cca;
    transition: .1;
}

.ReactTags__selected {
    display: inline-flex;
    margin-left: 8px;
}

.ReactTags__tagInput {
    position: relative;
    top: 3px;
}

.ReactTags__tagInputField {
    border: none;
    outline-width: 0;
    position: relative;
    left: 5px;
}

.ReactTags__remove {
    color: white;
    position: relative;
    left: 5px;
    top: 1px;
    cursor: pointer;
}




/*masonry grid*/
.my-masonry-grid {
    display: flex;
}